
@media only screen and (min-width: 1000px) {
    #noticias{
        background-color: #f6f6f6;

        display: flex;
        flex-direction: column;
        .titulo-componente{
            @include titulo(32px, $laranja);
        }
        .noticias-container{
            display: flex;
            justify-content: space-evenly;
            .noticia{
                margin: 0 12px;
                width: 30%;
                border-radius: 6px;
                transition: 0.6s;
                -webkit-box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                background-color: white;
                &:hover{
                    -webkit-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                    -moz-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                    box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                }          

                .noticia-image{
                    width: 100%;
                    overflow: hidden;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;

                }
                .noticia-info{
                    padding: 12px 18px;
                    // color: $laranja;
                  
                    .noticia-chapeu{
                        font-size: 12px;
                        color: $dark-grey;
                        font-family: "gotham-light";

                    }
                    .noticia-titulo{
                        font-family: "gotham-bold2";
                    }
                    .noticia-bigode{
                        font-size: 14px;
                        font-family: "gotham-bold2";
                        a{
                            color: $laranja;
                            text-decoration: none;
                        }

                    }
                }
            }
        }
        @include botao(32px, $laranja);

    }
   
}

@media only screen and (max-width: 999px) {
    #noticias{
        background-color: #f6f6f6;
        
        display: flex;
        flex-direction: column;
        .titulo-componente{
            @include titulo(32px, $laranja);
        }
        .noticias-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .noticia{
                margin: 12px 0;
                width: 100%;
                border-radius: 6px;
                transition: 0.6s;
                -webkit-box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                background-color: white;
                &:hover{
                    -webkit-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                    -moz-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                    box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                }          

                .noticia-image{
                    width: 100%;
                    overflow: hidden;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;

                }
                .noticia-info{
                    padding: 12px 18px;
                    // color: $laranja;
                  
                    .noticia-chapeu{
                        font-size: 12px;
                        color: $dark-grey;
                        font-family: "gotham-light";

                    }
                    .noticia-titulo{
                        font-family: "gotham-bold2";
                    }
                    .noticia-bigode{
                        font-size: 14px;
                        color: $laranja;
                        font-family: "gotham-bold2";
                        a{
                            text-decoration: none;
                        }

                    }
                }
            }
        }
        @include botao(32px, $laranja);

    }
  
}