
@media only screen and (min-width: 1000px) {
    #show-noticia{
        background-color: $soft-grey;
        display: flex;
        flex-direction: column;
        .titulo-componente{
            @include titulo(32px, $laranja);
            text-align: left;
        }
        #noticia-conteudo{
            display: flex;
            flex-direction: row;
        }
        .noticia-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 75%;
            overflow: hidden;
            font-family: "gotham-light";
            img{
                width: 100%;
            }
            .noticia{
                margin: 10px;
                width: 30%;
                border-radius: 6px;
                transition: 0.6s;
                -webkit-box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                background-color: white;
                &:hover{
                    -webkit-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                    -moz-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                    box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                }          

                .noticia-image{
                    width: 100%;
                    overflow: hidden;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;

                }
                .noticia-info{
                    padding: 12px 18px;
                    // color: $laranja;
                  
                    .noticia-chapeu{
                        font-size: 12px;
                        color: $dark-grey;
                        font-family: "gotham-light";

                    }
                    .noticia-titulo{
                        font-family: "gotham-bold";
                        font-size: 22px;
                    }
                    .noticia-bigode{
                        font-size: 14px;
                        color: $laranja;
                        font-family: "gotham-bold";

                    }
                }
            }
        }
        .side-menu{
            width: 25%;
            margin-top: 12px;
            margin-left: 65px;
            display: flex;
            font-family: "gotham-light";


            .side-menu-container{

                width: 100%;
                height: fit-content;
                padding: 40px;
                background-color: #f3f3f3;
                border-radius: 6px;
                hr{
                    background-color: $laranja;
                    height: 1px;
                    width: 10%;
                    margin: 0;
                }
                .side-menu-nav{
                    ul{
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        margin-top: 18px;
                    
                        li{
                            padding-bottom: 13px;
                            margin-top: 13px;
                            border-bottom: 1px dashed #d3d3d3;
                            a{
                                color: $dark-grey;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        @include botao(32px, $laranja);

    }
   
}

@media only screen and (max-width: 999px) {
    #show-noticias{
        background-color: #f6f6f6;
        
        display: flex;
        flex-direction: column;
        .titulo-componente{
            @include titulo(32px, $laranja);
        }
        .noticias-container{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .noticia{
                margin: 12px 0;
                width: 100%;
                border-radius: 6px;
                transition: 0.6s;
                -webkit-box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 45px -22px rgba(0,0,0,0.75);
                background-color: white;
                &:hover{
                    -webkit-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                    -moz-box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                    box-shadow: 0px 0px 11px -6px rgba(0,0,0,0.99);
                }          

                .noticia-image{
                    width: 100%;
                    overflow: hidden;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;

                }
                .noticia-info{
                    padding: 12px 18px;
                    // color: $laranja;
                  
                    .noticia-chapeu{
                        font-size: 12px;
                        color: $dark-grey;
                        font-family: "gotham-light";

                    }
                    .noticia-titulo{
                        font-family: "gotham-bold";
                    }
                    .noticia-bigode{
                        font-size: 14px;
                        color: $laranja;
                        font-family: "gotham-bold";

                    }
                }
            }
        }
        .side-menu{
            width: 100%;
            margin-top: 12px;
            margin-left: 12px;;
            display: none;
            font-family: "gotham-light";


            .side-menu-container{

                width: 100%;
                height: fit-content;
                padding: 40px;
                background-color: #f3f3f3;
                border-radius: 6px;
                hr{
                    background-color: $laranja;
                    height: 1px;
                    width: 10%;
                    margin: 0;
                }
                .side-menu-nav{
                    ul{
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                        margin-top: 18px;
                    
                        li{
                            padding-bottom: 13px;
                            margin-top: 13px;
                            border-bottom: 1px dashed #d3d3d3;
                            a{
                                color: $dark-grey;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        @include botao(32px, $laranja);

    }
  
}