$nav-blue: #03b8cb;
$soft-blue: #1ad4ff;
$soft-green: #05c99a;
$soft-grey: #e8e8e8;
$dark-grey: #979b9e;
$white: #ffffff;
$soft-black: #212529;

$laranja: #F7941D;
$verde-claro: #A6CE39;
$verde-escuro: #007F49;
$azul-escuro: #1072BA;
$azul-claro: #14B1E7;

$border-radius: 4px;



@media only screen and (min-width: 1000px) {
  .metade{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    overflow: hidden;
  }  
   
}

@media only screen and (max-width: 999px) {
  .metade{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    overflow: hidden;
  }
}

@font-face {
  font-family: "gotham-light";
  src: url("../fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/GothamBold.ttf");
}

@font-face {
  font-family: "gotham-bold2";
  src: url("../fonts/Gotham-Bold.otf");
}

$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}

@mixin titulo($size: 32px, $cor: $verde-claro) {
  font-family: "gotham-light";
  text-align: center;
  font-size: $size;
  text-transform: uppercase;
  color: $cor;
  margin-bottom: 24px;
}

@mixin botao($size: 32px, $cor: $verde-claro, $cor-hover: white) {

  .botao-container{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    .botao{
        cursor: pointer;
      
        background: transparent;
        color: $cor;
        font-size: 18px;
        border-color: $cor;
        border-style: solid;
        border-width: 2px;
        border-radius: 6px;
        padding: 10px 40px;
        font-family: "gotham-light";
        transition: all 0.2s linear;
        text-decoration: none;
        &:hover {
            color: $cor-hover;
            background: $cor;
            transition: all 0.2s linear;
        }

    }
  }
}