$nav-blue: #03b8cb;
$soft-blue: #1ad4ff;
$soft-green: #05c99a;
$soft-grey: #e8e8e8;
$dark-grey: #979b9e;
$white: #ffffff;
$soft-black: #212529;

$laranja: #F7941D;
$verde-claro: #A6CE39;
$verde-escuro: #007F49;

$border-radius: 4px;

@font-face {
  font-family: "gotham-light";
  src: url("../fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/GothamBold.ttf");
}
  