$nav-blue: #03b8cb;
$soft-blue: #1ad4ff;
$soft-green: #05c99a;
$soft-grey: #e8e8e8;
$dark-grey: #979b9e;
$white: #ffffff;
$soft-black: #212529;

$laranja: #F7941D;
$verde-claro: #A6CE39;
$verde-escuro: #007F49;

$border-radius: 4px;

@font-face {
  font-family: "gotham-light";
  src: url("../fonts/Gotham-Light.otf");
}

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/GothamBold.ttf");
}

$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";
.icon-user {
  @extend .fa;
  @extend .fa-user;
}

@mixin titulo($size: 32px, $cor: $verde-claro) {
  font-family: "gotham-light";
  text-align: center;
  font-size: $size;
  text-transform: uppercase;
  color: $cor;
  margin-bottom: 24px;

}