
@media only screen and (min-width: 1000px) {
    #videos{
        display: flex;
        flex-direction: column;
        background-color: $laranja;
        // height: 80vh;
        width: 100%;
        overflow: hidden;
        .titulo-componente{
            @include titulo(32px, white);
        }
        .videos-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 310px;
            background-color: $soft-black;
            overflow: hidden;
            
            .video{
                width: 33.33%;
                overflow: hidden;
                transform-origin: center;
                // display: flex;
                background-image: url("../images/play-icon.png");
                background-repeat: no-repeat;
                background-position: center; 
                background-size: 40%;
                position: relative;

                
                &:hover{
                    .video-info{
                        display: none;
                    }
                }


                .video-image{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    transition: 0.6s;
                    transform-origin: center;
                    opacity: 0.6;

                    &:hover{

                        transform: scale(1.05, 1.05);
                        opacity: 0.15;
                        cursor: pointer;
                    }

                }
                
                .video-info{
                    position: absolute;
                    bottom: 0px;
                    padding: 12px 24px;
                    width: 100%;
                    transition: 1s;

                    &:hover{
                        display: none;
                    }

                    .video-titulo{
                        padding: 0;
                        margin: 0;
                        color: white;
                        font-size: 22px;
                        font-family: "gotham-bold";

                    }
                    .video-data{
                        padding: 0;
                        margin: 0;
                        color: white;
                        font-family: "gotham-light";

                    }
                }
                
            }
        }
        @include botao(32px, white, $laranja);


    }
   
}

@media only screen and (max-width: 999px) {

  
}