// bower:scss
// endbower
@import 'variables';
@import 'header';
@import 'carousel';
@import 'servicos';
@import 'web-governador';
@import 'noticias';
@import 'videos';
@import 'fotos';
@import 'podcasts';
@import 'programas';
@import 'conheca';
@import 'sic';
@import 'social';
@import 'footer';
@import 'show-noticias';
@import 'show-noticia';


body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #232323; 
  transition: color 0.3s ease;
}

// *{
//   max-width: 100%;
//   overflow: hidden;
// }

.container-fluid{
  margin: 0;
  padding: 0;
}

.padding-lateral{
  @media only screen and (min-width: 1000px) {
    padding-left: 128px;
    padding-right: 128px;
  }
  @media only screen and (max-width: 999px) {
    padding-left: 32px;
    padding-right: 32px;
  }

}

.padding-vertical{
  @media only screen and (min-width: 1000px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  @media only screen and (max-width: 999px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

}

body{
  background-color: $soft-grey;
  main{
    max-width: 100%;
    overflow: hidden;
    div{
     
    }
  }
}